.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
}
.newsletter {
  color: #cfcfcf;
  border: solid #cfcfcf 1px;
  padding: 10px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding-bottom: 30px;
  position: relative;
}
.newsletter button {
  background: #3cb878;
  border: none;
  color: white;
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}
.newsletter input#email {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 4px;
  border: solid #cfcfcf 1px;
  border-radius: 3px;
  box-sizing: border-box;
}
.newsletter h3 {
  margin-top: 0;
  color: #cfcfcf;
}
h3 {
  margin-top: 60px;
}
.newsletter #terms {
  position: relative;
  top: 1px;
}
.newsletter #closex {
  position: absolute;
  top: 0;
  right: 4px;
}
#questionMark {
  background: #3cb878;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 70px;
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.card {
  flex-grow: 0;
  background: #3cb878;
  width: 180px;
  text-align: center;
  padding: 20px 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  box-shadow: 0 0 7px 2px grey;
}
.card.middle {
  flex-grow: 0.5;
}
.card h3 {
  margin-top: 30px;
  margin-bottom: 0px;
}
#card-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  max-width: 622px;
  flex-direction: row;
  flex-wrap: wrap;
  height: 235px;
}
